[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.4"

[dev-packages]

[packages]
click = "*"
requests = "*"
"beautifulsoup4" = "*"
lxml = "*"
"html5lib" = "*"
mysql-connector-python-rf = "*"
simple-db-migrate = "*"
